*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
max-width: 1200px;
margin: 0 auto;
}
body{
    background-color:#0d0f1b;
}
select{
    margin: 50px;
}
select{
width: 200px;
font-size: 15px;
height: 40px;
border-radius: 15px;
color: white;
background-color: #0C0E1866;
    box-shadow: 0px 0px 11px 0px #FFFFFF;
}
header .container{
    display: flex;
   align-items: center;
   justify-content: space-between;
}
header{

    background-color: #0C0E18;
}
header .left{
    display: flex;
    align-items: center;
}
.btn{
    width: 150px;
    height: 50px;
    background-color: #0C0E1866;
    border-radius: 20px;
    color: white;
    transition:1.5s ;
}

.btn:hover{
    background-color: #BFAFF2;
    color: black;
}
header h1{
    color: rgb(255, 255, 255);
}
option{
    background-color: #3801ee;
    border-radius: 10px;  
    color: white;
    font-size: 15px;
    overflow: hidden;

}
main{
    padding-top:350px ;
}
.card{
    width: 325px;
height: 240px;
opacity: 1;
border-radius: 32px;
background-color: #232028;
color: rgb(255, 255, 255);
padding: 60px 10px 10px;
text-align: center;
transition: 1.5s;
}
.card p{
    font-size: 14px;
    width: 293px;
height: 102px;

}
.card h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.card img{
    margin-top: -330px ;
   transition: 1.5s; 
}
main {
display: flex;
gap: 15px;
}
 
footer{
    
    background-color: #0f111f;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 40px 0;
}
footer .left nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}
footer nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    transition: 1.5s;
}
footer h2{
    font-size: 25px;
    transition: 1.5;
}
footer h2:hover{
    transform: scale(1.2);
}
nav ul li a:hover{
    padding: 15px;
    border-bottom: 2px solid red;
    color: red;

}
.card img:hover{
 transform: scale(1.2);
}
.card:hover{
    transform: scale(1.3);
    background-color: aqua;
    color: black;
}
